<header class="site-header"> <h1>Login</h1>
</header>
<div class="grid-container">

<form id="form" class="site-fieldset" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
        <legend>Input Info</legend>
            <label>Username</label>
            <input id="username" type="text" name="username" required>
            <br/>
            <label>Password</label>
            <input id="password" type="password" name="password" required>
        <br/>
    <button type="submit">Submit</button>
</form>
</div>

